# What is Pandas?

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

# Why Use Pandas?

Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

More information about Pandas [here](https://pandas.pydata.org/)

# Create a DataFrame

|           | Amit          | Ramen        |
|:----------|:--------------|:-------------|
| Ice Cream | I liked it.   | Pretty good. |
| Burger    | It was awful. | Bland.       |

In [ ]:
import pandas as pd


df = pd.DataFrame( {'Amit': ['I liked it.', 'It was awful.'],
              'Ramen': ['Pretty good.', 'Bland.']},
             index=['Ice Cream', 'Burger'] )
df

                    Amit         Ramen
Ice Cream    I liked it.  Pretty good.
Burger     It was awful.        Bland.

In [ ]:
import numpy as np

data = pd.DataFrame({'Name':['Arunesh', 'Abhinav', 'Adela', 'Amit', 'Arghadyuti', 'Prabhat', 'Ramen', 'Reena', 'Shravan', 'Soumya', 'Subhashish'
                            ],
                    'Favorite Number': np.random.randint(123, 234, size=(11,)),
                    'Random Number': np.random.randint(0, 100, size=(11,)),
                    'Color':['red', 'green', 'blue', 'black', 'yellow', 'magenta', 'pink', 'magenta', 'orange', 'violet', 'cyan']})


data.to_csv('virginia.csv', index=False) #way to save as csv(comma seperated values)

In [ ]:
data_read = pd.read_csv('virginia.csv')

data_read

          Name  Favorite Number  Random Number    Color
0      Arunesh              181             16      red
1      Abhinav              225             83    green
2        Adela              169             90     blue
3         Amit              227             48    black
4   Arghadyuti              142             26   yellow
5      Prabhat              159             87  magenta
6        Ramen              205             48     pink
7        Reena              181             66  magenta
8      Shravan              162             35   orange
9       Soumya              219             72   violet
10  Subhashish              157             87     cyan

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
fifa_22 = pd.read_csv('/content/drive/MyDrive/AI4ICPS/FIFA22_official_data.csv')
#fifa_22.sort_values(['Overall'], ascending=False)
fifa_22

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness
0,212198,Bruno Fernandes,26,https://cdn.sofifa.com/players/212/198/22_60.png,Portugal,https://cdn.sofifa.com/flags/pt.png,88,89,Manchester United,https://cdn.sofifa.com/teams/11/30.png,...,65.0,12.0,14.0,15.0,8.0,14.0,CAM,88.0,€206.9M,72.0
1,209658,L. Goretzka,26,https://cdn.sofifa.com/players/209/658/22_60.png,Germany,https://cdn.sofifa.com/flags/de.png,87,88,FC Bayern München,https://cdn.sofifa.com/teams/21/30.png,...,77.0,13.0,8.0,15.0,11.0,9.0,CM,87.0,€160.4M,74.0
2,176580,L. Suárez,34,https://cdn.sofifa.com/players/176/580/22_60.png,Uruguay,https://cdn.sofifa.com/flags/uy.png,88,88,Atlético de Madrid,https://cdn.sofifa.com/teams/240/30.png,...,38.0,27.0,25.0,31.0,33.0,37.0,ST,88.0,€91.2M,42.0
3,192985,K. De Bruyne,30,https://cdn.sofifa.com/players/192/985/22_60.png,Belgium,https://cdn.sofifa.com/flags/be.png,91,91,Manchester City,https://cdn.sofifa.com/teams/10/30.png,...,53.0,15.0,13.0,5.0,10.0,13.0,CM,91.0,€232.2M,68.0
4,224334,M. Acuña,29,https://cdn.sofifa.com/players/224/334/22_60.png,Argentina,https://cdn.sofifa.com/flags/ar.png,84,84,Sevilla FC,https://cdn.sofifa.com/teams/481/30.png,...,82.0,8.0,14.0,13.0,13.0,14.0,LB,84.0,€77.7M,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16705,240558,18 L. Clayton,17,https://cdn.sofifa.com/players/240/558/18_60.png,England,https://cdn.sofifa.com/flags/gb-eng.png,53,70,Cheltenham Town,https://cdn.sofifa.com/teams/1936/30.png,...,12.0,55.0,54.0,52.0,50.0,59.0,GK,52.0,€238K,NaN
16706,262846,�. Dobre,20,https://cdn.sofifa.com/players/262/846/22_60.png,Romania,https://cdn.sofifa.com/flags/ro.png,53,63,FC Academica Clinceni,https://cdn.sofifa.com/teams/113391/30.png,...,12.0,57.0,52.0,53.0,48.0,58.0,GK,53.0,€279K,5.0
16707,241317,21 Xue Qinghao,19,https://cdn.sofifa.com/players/241/317/21_60.png,China PR,https://cdn.sofifa.com/flags/cn.png,47,60,Shanghai Shenhua FC,https://cdn.sofifa.com/teams/110955/30.png,...,9.0,49.0,48.0,45.0,38.0,52.0,GK,47.0,€223K,21.0
16708,259646,A. Shaikh,18,https://cdn.sofifa.com/players/259/646/22_60.png,India,https://cdn.sofifa.com/flags/in.png,47,67,ATK Mohun Bagan FC,https://cdn.sofifa.com/teams/113146/30.png,...,13.0,49.0,41.0,39.0,45.0,49.0,GK,47.0,€259K,7.0
16709,178453,07 A. Censori,17,https://cdn.sofifa.com/players/178/453/07_60.png,Italy,https://cdn.sofifa.com/flags/it.png,28,38,Arezzo,https://cdn.sofifa.com/teams/110907/30.png,...,NaN,7.0,1.0,36.0,6.0,9.0,ST,36.0,NaN,NaN

# Read values from DataFrame

## read rows

In [ ]:
data_read

          Name  Favorite Number  Random Number    Color
0      Arunesh              181             16      red
1      Abhinav              225             83    green
2        Adela              169             90     blue
3         Amit              227             48    black
4   Arghadyuti              142             26   yellow
5      Prabhat              159             87  magenta
6        Ramen              205             48     pink
7        Reena              181             66  magenta
8      Shravan              162             35   orange
9       Soumya              219             72   violet
10  Subhashish              157             87     cyan

In [ ]:
# using the datafraame itself
data_read[0:1]

      Name  Favorite Number  Random Number Color
0  Arunesh              181             16   red

In [ ]:
data_read.iloc[0]

Name               Arunesh
Favorite Number        181
Random Number           16
Color                  red
Name: 0, dtype: object

In [ ]:
#using loc

data_read.loc[data_read['Name']=='Reena']

    Name  Favorite Number  Random Number    Color
7  Reena              181             66  magenta

In [ ]:
import numpy as np
data_read.loc[np.logical_or(data_read['Favorite Number']==162, data_read['Color']=='pink')]

      Name  Favorite Number  Random Number   Color
6    Ramen              205             48    pink
8  Shravan              162             35  orange

# Question

## find the players who play for both Argentina(Country) and Paris Saint-Germain F.C.(Club)

In [ ]:
fifa_22.loc[np.logical_and(fifa_22['Nationality']=='Argentina', fifa_22['Club']=='Paris Saint-Germain')]

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness
29,158023,L. Messi,34,https://cdn.sofifa.com/players/158/023/22_60.png,Argentina,https://cdn.sofifa.com/flags/ar.png,93,93,Paris Saint-Germain,https://cdn.sofifa.com/teams/73/30.png,...,24.0,6.0,11.0,15.0,14.0,8.0,RW,93.0,€144.3M,20.0
76,183898,A. Di María,33,https://cdn.sofifa.com/players/183/898/22_60.png,Argentina,https://cdn.sofifa.com/flags/ar.png,87,87,Paris Saint-Germain,https://cdn.sofifa.com/teams/73/30.png,...,52.0,10.0,7.0,11.0,12.0,11.0,RW,87.0,€91.6M,41.0
81,207439,L. Paredes,27,https://cdn.sofifa.com/players/207/439/22_60.png,Argentina,https://cdn.sofifa.com/flags/ar.png,81,83,Paris Saint-Germain,https://cdn.sofifa.com/teams/73/30.png,...,80.0,9.0,14.0,6.0,9.0,10.0,CM,83.0,€53.9M,79.0
1959,201399,M. Icardi,28,https://cdn.sofifa.com/players/201/399/22_60.png,Argentina,https://cdn.sofifa.com/flags/ar.png,83,83,Paris Saint-Germain,https://cdn.sofifa.com/teams/73/30.png,...,20.0,13.0,9.0,5.0,7.0,9.0,ST,83.0,€68.5M,45.0

In [ ]:
fifa_22.loc[np.logical_and(fifa_22['Nationality']=='Brazil', fifa_22['Club']=='Paris Saint-Germain')]

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness
40,146530,19 Dani Alves,35,https://cdn.sofifa.com/players/146/530/19_60.png,Brazil,https://cdn.sofifa.com/flags/br.png,82,82,Paris Saint-Germain,https://cdn.sofifa.com/teams/73/30.png,...,80.0,5.0,11.0,9.0,6.0,7.0,CAM,81.0,€8.9M,NaN
64,190871,Neymar Jr,29,https://cdn.sofifa.com/players/190/871/22_60.png,Brazil,https://cdn.sofifa.com/flags/br.png,91,91,Paris Saint-Germain,https://cdn.sofifa.com/teams/73/30.png,...,29.0,9.0,9.0,15.0,15.0,11.0,LW,91.0,€238.7M,35.0
185,201400,Rafinha,28,https://cdn.sofifa.com/players/201/400/22_60.png,Brazil,https://cdn.sofifa.com/flags/br.png,80,80,Paris Saint-Germain,https://cdn.sofifa.com/teams/73/30.png,...,66.0,11.0,6.0,15.0,13.0,7.0,CM,80.0,€38.9M,70.0
212,53405,17 Maxwell,34,https://cdn.sofifa.com/players/053/405/17_60.png,Brazil,https://cdn.sofifa.com/flags/br.png,79,79,Paris Saint-Germain,https://cdn.sofifa.com/teams/73/30.png,...,75.0,7.0,6.0,16.0,13.0,6.0,LWB,79.0,NaN,NaN
371,207865,Marquinhos,27,https://cdn.sofifa.com/players/207/865/22_60.png,Brazil,https://cdn.sofifa.com/flags/br.png,87,90,Paris Saint-Germain,https://cdn.sofifa.com/teams/73/30.png,...,89.0,6.0,6.0,12.0,10.0,13.0,CB,89.0,€174.2M,89.0

# Read Columns

## gather data about column

In [ ]:
data_read['Name']

0        Arunesh
1        Abhinav
2          Adela
3           Amit
4     Arghadyuti
5        Prabhat
6          Ramen
7          Reena
8        Shravan
9         Soumya
10    Subhashish
Name: Name, dtype: object

In [ ]:
fifa_22['Club'][0:5]

0     Manchester United
1     FC Bayern München
2    Atlético de Madrid
3       Manchester City
4            Sevilla FC
Name: Club, dtype: object

# Add a New Column

In [ ]:
country = ['UK', 'Australia', 'UAE', 'Australia', 'UAE', 'USA', 'USA', 'UK', 'UK', 'UK','UK' ]

data_read['Country'] = country

d = data_read.sort_values(['Favorite Number'])   #sort_values
# data_read
d

          Name  Favorite Number  Random Number    Color    Country
4   Arghadyuti              142             26   yellow        UAE
10  Subhashish              157             87     cyan         UK
5      Prabhat              159             87  magenta        USA
8      Shravan              162             35   orange         UK
2        Adela              169             90     blue        UAE
0      Arunesh              181             16      red         UK
7        Reena              181             66  magenta         UK
6        Ramen              205             48     pink        USA
9       Soumya              219             72   violet         UK
1      Abhinav              225             83    green  Australia
3         Amit              227             48    black  Australia

In [ ]:
d

          Name  Favorite Number  Random Number    Color    Country
1      Abhinav              138             91    green  Australia
5      Prabhat              145             98  magenta        USA
3         Amit              150             35    black  Australia
7        Reena              155             93  magenta         UK
6        Ramen              157              3     pink        USA
0      Arunesh              172             47      red         UK
4   Arghadyuti              176             76   yellow        UAE
10  Subhashish              201             53     cyan         UK
8      Shravan              208             10   orange         UK
2        Adela              210             27     blue        UAE
9       Soumya              210             22   violet         UK

# Question

## we want he sort the FIFA 22 dataset based on overall score

In [ ]:
fifa_22.sort_values(['Overall'], ascending=False)

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness
29,158023,L. Messi,34,https://cdn.sofifa.com/players/158/023/22_60.png,Argentina,https://cdn.sofifa.com/flags/ar.png,93,93,Paris Saint-Germain,https://cdn.sofifa.com/teams/73/30.png,...,24.0,6.0,11.0,15.0,14.0,8.0,RW,93.0,€144.3M,20.0
33,188545,R. Lewandowski,32,https://cdn.sofifa.com/players/188/545/22_60.png,Poland,https://cdn.sofifa.com/flags/pl.png,92,92,FC Bayern München,https://cdn.sofifa.com/teams/21/30.png,...,19.0,15.0,6.0,12.0,8.0,10.0,ST,92.0,€197.2M,35.0
14244,200389,J. Oblak,28,https://cdn.sofifa.com/players/200/389/22_60.png,Slovenia,https://cdn.sofifa.com/flags/si.png,91,93,Atlético de Madrid,https://cdn.sofifa.com/teams/240/30.png,...,18.0,87.0,92.0,78.0,90.0,90.0,GK,91.0,€238M,27.0
3,192985,K. De Bruyne,30,https://cdn.sofifa.com/players/192/985/22_60.png,Belgium,https://cdn.sofifa.com/flags/be.png,91,91,Manchester City,https://cdn.sofifa.com/teams/10/30.png,...,53.0,15.0,13.0,5.0,10.0,13.0,CM,91.0,€232.2M,68.0
64,190871,Neymar Jr,29,https://cdn.sofifa.com/players/190/871/22_60.png,Brazil,https://cdn.sofifa.com/flags/br.png,91,91,Paris Saint-Germain,https://cdn.sofifa.com/teams/73/30.png,...,29.0,9.0,9.0,15.0,15.0,11.0,LW,91.0,€238.7M,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15593,235352,18 T. Käßemodel,28,https://cdn.sofifa.com/players/235/352/18_60.png,Germany,https://cdn.sofifa.com/flags/de.png,46,46,FC Erzgebirge Aue,https://cdn.sofifa.com/teams/506/30.png,...,38.0,10.0,12.0,6.0,13.0,6.0,CM,45.0,€47K,NaN
15685,219735,15 T. Fletcher,19,https://cdn.sofifa.com/players/219/735/15_60.png,England,https://cdn.sofifa.com/flags/gb-eng.png,46,52,Wycombe Wanderers,https://cdn.sofifa.com/teams/1933/30.png,...,50.0,14.0,7.0,8.0,14.0,11.0,CB,46.0,NaN,NaN
16572,19334,10 I. Baraclough,38,https://cdn.sofifa.com/players/019/334/10_60.png,England,https://cdn.sofifa.com/flags/gb-eng.png,44,65,NaN,https://cdn.sofifa.com/flags/gb-eng.png,...,NaN,5.0,20.0,46.0,20.0,20.0,CM,46.0,NaN,NaN
15999,220806,16 E. Redman,18,https://cdn.sofifa.com/players/220/806/16_60.png,Wales,https://cdn.sofifa.com/flags/gb-wls.png,44,57,Newport County,https://cdn.sofifa.com/teams/112254/30.png,...,38.0,13.0,7.0,16.0,9.0,7.0,CB,44.0,NaN,NaN
16709,178453,07 A. Censori,17,https://cdn.sofifa.com/players/178/453/07_60.png,Italy,https://cdn.sofifa.com/flags/it.png,28,38,Arezzo,https://cdn.sofifa.com/teams/110907/30.png,...,NaN,7.0,1.0,36.0,6.0,9.0,ST,36.0,NaN,NaN

In [ ]:
new_data = pd.DataFrame({'Name':['Suman'], 'Favorite Number':[np.nan], 'Random Number':[''], 'Color':'Olive', 'Country':'Japan'})
new_data

    Name  Favorite Number Random Number  Color Country
0  Suman              NaN                Olive   Japan

In [ ]:
data_new = pd.concat([data_read, new_data], ignore_index=True)
data_new

          Name  Favorite Number Random Number    Color    Country
0      Arunesh            172.0            47      red         UK
1      Abhinav            138.0            91    green  Australia
2        Adela            210.0            27     blue        UAE
3         Amit            150.0            35    black  Australia
4   Arghadyuti            176.0            76   yellow        UAE
5      Prabhat            145.0            98  magenta        USA
6        Ramen            157.0             3     pink        USA
7        Reena            155.0            93  magenta         UK
8      Shravan            208.0            10   orange         UK
9       Soumya            210.0            22   violet         UK
10  Subhashish            201.0            53     cyan         UK
11       Suman              NaN                  Olive      Japan

In [ ]:
data_new.drop(0)

          Name  Favorite Number Random Number    Color    Country
1      Abhinav            138.0            91    green  Australia
2        Adela            210.0            27     blue        UAE
3         Amit            150.0            35    black  Australia
4   Arghadyuti            176.0            76   yellow        UAE
5      Prabhat            145.0            98  magenta        USA
6        Ramen            157.0             3     pink        USA
7        Reena            155.0            93  magenta         UK
8      Shravan            208.0            10   orange         UK
9       Soumya            210.0            22   violet         UK
10  Subhashish            201.0            53     cyan         UK
11       Suman              NaN                  Olive      Japan

# Clean Up data

## Remove empty cells, NaN values

In [ ]:
cleaned_data = data_new.dropna()

cleaned_data

          Name  Favorite Number Random Number    Color    Country
0      Arunesh            172.0            47      red         UK
1      Abhinav            138.0            91    green  Australia
2        Adela            210.0            27     blue        UAE
3         Amit            150.0            35    black  Australia
4   Arghadyuti            176.0            76   yellow        UAE
5      Prabhat            145.0            98  magenta        USA
6        Ramen            157.0             3     pink        USA
7        Reena            155.0            93  magenta         UK
8      Shravan            208.0            10   orange         UK
9       Soumya            210.0            22   violet         UK
10  Subhashish            201.0            53     cyan         UK

## drop unnecessary columns

In [ ]:
cleaned_data2 = cleaned_data.drop(columns=['Random Number'])
cleaned_data2[0:5]

         Name  Favorite Number   Color    Country
0     Arunesh            172.0     red         UK
1     Abhinav            138.0   green  Australia
2       Adela            210.0    blue        UAE
3        Amit            150.0   black  Australia
4  Arghadyuti            176.0  yellow        UAE

In [ ]:
fifa_23 = fifa_22.drop(columns=['GKReflexes', 'GKPositioning', 'GKKicking', 'GKHandling','GKDiving', 'SlidingTackle', 'StandingTackle', 'Marking', 'Composure', 'Vision', 'Positioning', 'Interceptions', 'Aggression', 'LongShots', 'Strength', 'Stamina', 'Jumping', 'ShotPower', 'Balance', 'Reactions', 'Agility', 'SprintSpeed', 'Acceleration', 'BallControl', 'LongPassing', 'FKAccuracy', 'Curve', 'Dribbling', 'Volleys', 'ShortPassing', 'HeadingAccuracy', 'Finishing', 'Crossing', 'Weight', 'Height', 'Contract Valid Until', 'Loaned From', 'Joined', 'Position', 'Real Face', 'Body Type', 'Work Rate', 'Skill Moves', 'Weak Foot', 'International Reputation', 'Preferred Foot', 'Special', 'Club Logo', 'Flag', 'Photo', 'ID' ]
            )

fifa_23_top = fifa_23.sort_values(['Overall'], ascending=False)[0:10]

fifa_23_top

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Jersey Number,Penalties,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness
29,L. Messi,34,Argentina,93,93,Paris Saint-Germain,€78M,€320K,30.0,75.0,RW,93.0,€144.3M,20.0
33,R. Lewandowski,32,Poland,92,92,FC Bayern München,€119.5M,€270K,9.0,90.0,ST,92.0,€197.2M,35.0
14244,J. Oblak,28,Slovenia,91,93,Atlético de Madrid,€112M,€130K,13.0,11.0,GK,91.0,€238M,27.0
3,K. De Bruyne,30,Belgium,91,91,Manchester City,€125.5M,€350K,17.0,83.0,CM,91.0,€232.2M,68.0
64,Neymar Jr,29,Brazil,91,91,Paris Saint-Germain,€129M,€270K,10.0,93.0,LW,91.0,€238.7M,35.0
82,K. Mbappé,22,France,91,95,Paris Saint-Germain,€194M,€230K,7.0,79.0,ST,92.0,€373.5M,26.0
36,Cristiano Ronaldo,36,Portugal,91,91,Manchester United,€45M,€270K,7.0,88.0,ST,91.0,€83.3M,24.0
39,H. Kane,27,England,90,90,Tottenham Hotspur,€129.5M,€240K,10.0,91.0,ST,90.0,€246.1M,50.0
13890,M. ter Stegen,29,Germany,90,92,FC Barcelona,€99M,€250K,1.0,25.0,GK,90.0,€210.4M,25.0
71,N. Kanté,30,France,90,90,Chelsea,€100M,€230K,7.0,54.0,CDM,90.0,€185M,90.0

In [ ]:
fifa_23_top['Club'].unique()

array(['Paris Saint-Germain', 'FC Bayern München', 'Atlético de Madrid',
       'Manchester City', 'Manchester United', 'Tottenham Hotspur',
       'FC Barcelona', 'Chelsea'], dtype=object)

In [ ]:
fifa_23.groupby(['Nationality']).mean()

,Age,Overall,Potential,Jersey Number,Penalties,Best Overall Rating,DefensiveAwareness
Nationality,,,,,,,
Afghanistan,25.500000,65.000000,67.500000,9.000000,56.000000,65.500000,47.500000
Albania,25.770833,67.583333,71.812500,20.583333,52.687500,68.500000,51.444444
Algeria,27.120690,71.517241,74.034483,22.051724,57.948276,72.258621,49.452830
Andorra,31.000000,64.000000,64.000000,3.000000,45.000000,64.000000,56.000000
Angola,25.100000,69.050000,74.550000,20.150000,55.200000,69.800000,46.950000
...,...,...,...,...,...,...,...
Venezuela,24.292135,66.707865,73.898876,19.449438,50.382022,67.719101,46.367816
Vietnam,25.500000,63.000000,66.500000,8.000000,36.500000,62.500000,9.000000
Wales,25.297468,63.930380,69.493671,18.411392,48.962025,64.987342,49.186207
Zambia,23.700000,67.800000,73.900000,23.000000,59.700000,69.000000,38.666667
Zimbabwe,26.166667,67.500000,71.083333,20.166667,52.833333,68.666667,49.363636

In [ ]:
fifa_23.groupby(['Nationality']).mean().sort_values('Overall', ascending=False)[0:10]

,Age,Overall,Potential,Jersey Number,Penalties,Best Overall Rating,DefensiveAwareness
Nationality,,,,,,,
Tanzania,28.000000,74.000000,74.000000,70.000000,69.000000,74.000000,32.000000
Mozambique,30.750000,72.750000,73.000000,15.000000,42.250000,72.750000,72.000000
Brazil,26.927961,72.411477,74.910867,21.150551,57.239316,73.045177,49.959270
Libya,27.250000,72.250000,73.250000,12.000000,53.250000,73.250000,50.500000
Fiji,33.000000,72.000000,72.000000,21.000000,74.000000,73.000000,41.000000
Namibia,23.000000,72.000000,80.000000,2.000000,36.000000,72.000000,70.000000
Egypt,27.071429,71.678571,73.642857,16.962963,55.000000,72.392857,51.259259
Czech Republic,26.524752,71.653465,74.900990,19.584158,49.534653,72.425743,48.697917
Ukraine,25.913043,71.550725,76.492754,25.318841,47.913043,72.405797,48.476190
Algeria,27.120690,71.517241,74.034483,22.051724,57.948276,72.258621,49.452830